.category {
  border-radius: 20px;
  border: 1px solid #cfcfcf;
  background: #e9e9e9;
}

.category--active {
  background: gold;
  border: none;
}

.category--active .category__link {
  color: #fff;
}

.category:hover {
  background: gold;
}

.category__link {
  font-size: 16px;
  padding: 5px 10px;
  display: block;
  text-decoration: none;
  color: #2c2c2c;
}

.categories {
  overflow-x: auto;
}

.categories__list {
  height: 70px;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  list-style: none;
  margin: 0;
}

/*  */

.dropdown {
  background: #fff;
  overflow: hidden;
  width: 150px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  position: absolute;
  display: none;
  top: 100%;
  right: 0;
}

.dropdown__icon {
  margin-right: 10px;
}

.dropdown__list {
  list-style: none;
  padding: 0;
}

.dropdown__item:hover {
  background: #e9e9e9;
}

.dropdown__item--accent {
  border-top: 1px solid #e9e9e9;
}

.dropdown__link {
  display: block;
  text-decoration: none;
  color: #2c2c2c;
  padding: 10px 15px;
  font: 16px 'Roboto', sans-serif;
}

.dropdown__link--logout {
  color: #ff0000;
}

/*  */

.information-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #fff;
  height: 182px;
  text-align: center;
  border-radius: 5px;
  padding: 20px;
}

.information-block__content {
  margin: auto;
  padding: 20px;
  background: #f6f6f6;
}

.information-block__text {
  margin: 0;
  font-size: 24px;
  margin-bottom: 20px;
  color: #2c2c2c;
  text-align: center;
}
.information-block__social {
  text-align: center;
}
.information-block__link {
  color: #2c2c2c;
  text-decoration: none;
  font-size: 24px;
  text-decoration: none;
  margin: 0 10px;
}

.information-block__link--telegram:hover {
  color: #0088cc;
}

.information-block__link--instagram:hover {
  color: #bc1888;
}

.information-block__link--facebook:hover {
  color: #4267b2;
}
/*  */

.logo__image {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

/*  */

.profile-panel__list {
  gap: 20px;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0;
  display: flex;
}

.profile-panel__link {
  font: 19.2px 'Roboto', sans-serif;
  color: #cfcfcf;
}

.profile-panel__link:hover {
  color: #2c2c2c;
}

.profile-panel__avatar {
  position: relative;
  background: gold;
  border-radius: 50%;
}

.profile-panel__avatar .profile-panel__link {
  text-align: center;
  width: 35px;
  height: 35px;
  display: block;
  line-height: 35px;
  color: #2c2c2c;
}

.profile-panel__avatar:hover {
  background: #e9e9e9;
}

.profile-panel__avatar:hover .dropdown {
  display: block;
}

/*  */

.search-box {
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
  min-width: 300px;
  gap: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box__field {
  flex: 1;
  overflow: hidden;
  display: flex;
  align-items: stretch;
}

.search-box__input {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  border: 1px solid #e9e9e9;
  border-radius: 5px 0 0 5px;
  outline: none;
  padding: 5px 10px;
  color: #2c2c2c;
}

.search-box__input:focus {
  border: 1px solid #005073;
}

.search-box__input:focus + .search-box__button {
  border: 1px solid #cfcfcf;
  border-left: none;
}

.search-box__input,
.search-box__button {
  font-size: 19.2px;
}

.search-box__button {
  color: #2c2c2c;
  background: #e9e9e9;
  border: 1px solid #e9e9e9;
  border-left: none;
  border-radius: 0 5px 5px 0;
}

.search-box__button:hover {
  cursor: pointer;
}

.search-box__button:active {
  box-shadow: 0 0 2px rgba(44, 44, 44, 0.5) inset;
}

.search-box__voice {
  font-size: 19.2px;
  border-radius: 0;
  border: 0;
  background: none;
  color: #cfcfcf;
}

.search-box__voice:hover {
  cursor: pointer;
  color: #2c2c2c;
}

/*  */

.search-box {
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
  min-width: 300px;
  gap: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box__field {
  flex: 1;
  overflow: hidden;
  display: flex;
  align-items: stretch;
}

.search-box__input {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  border: 1px solid #e9e9e9;
  border-radius: 5px 0 0 5px;
  outline: none;
  padding: 5px 10px;
  color: #2c2c2c;
}

.search-box__input:focus {
  border: 1px solid #005073;
}

.search-box__input:focus + .search-box__button {
  border: 1px solid #cfcfcf;
  border-left: none;
}

.search-box__input,
.search-box__button {
  font-size: 19.2px;
  transition: border 0.5s;
}

.search-box__button {
  color: #2c2c2c;
  background: #e9e9e9;
  border: 1px solid #e9e9e9;
  border-left: none;
  border-radius: 0 5px 5px 0;
}

.search-box__button:hover {
  cursor: pointer;
}

.search-box__button:active {
  box-shadow: 0 0 2px rgba(44, 44, 44, 0.5) inset;
}

.search-box__voice {
  font-size: 19.2px;
  border-radius: 0;
  border: 0;
  background: none;
  color: #cfcfcf;
}

.search-box__voice:hover {
  cursor: pointer;
  color: #2c2c2c;
}
#slider {
  position: relative;
  width: 20%;
  height: 30%;
  margin: 50px auto;
  font-family: 'Helvetica Neue', sans-serif;
  perspective: 1400px;
  transform-style: preserve-3d;
}

input[type='radio'] {
  display: none;
}
.slide__info {
  background-color: gray;
}

#slider label,
#slider label img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  color: white;
  font-size: 70px;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 400ms ease;
  object-fit: cover;
}

/*  */
#s1:checked ~ #slide1,
#s2:checked ~ #slide2,
#s3:checked ~ #slide3,
#s4:checked ~ #slide4,
#s5:checked ~ #slide5,
#s6:checked ~ #slide6,
#s7:checked ~ #slide7 {
  box-shadow: 0 13px 26px rgba(0, 0, 0, 0.3), 0 12px 6px rgba(0, 0, 0, 0.2);
  transform: translate3d(0%, 0, 0px);
}

#s1:checked ~ #slide2,
#s2:checked ~ #slide3,
#s3:checked ~ #slide4,
#s4:checked ~ #slide5,
#s5:checked ~ #slide6,
#s6:checked ~ #slide7,
#s7:checked ~ #slide1 {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
  transform: translate3d(20%, 0, -100px);
}

#s1:checked ~ #slide3,
#s2:checked ~ #slide4,
#s3:checked ~ #slide5,
#s4:checked ~ #slide6,
#s5:checked ~ #slide7,
#s6:checked ~ #slide1,
#s7:checked ~ #slide2 {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  transform: translate3d(40%, 0, -250px);
}

#s1:checked ~ #slide4,
#s2:checked ~ #slide5,
#s3:checked ~ #slide6,
#s4:checked ~ #slide7,
#s5:checked ~ #slide1,
#s6:checked ~ #slide2,
#s7:checked ~ #slide3 {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  transform: translate3d(-40%, 0, -250px);
}

#s1:checked ~ #slide5,
#s2:checked ~ #slide6,
#s3:checked ~ #slide7,
#s4:checked ~ #slide1,
#s5:checked ~ #slide2,
#s6:checked ~ #slide3,
#s7:checked ~ #slide4 {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  transform: translate3d(-40%, 0, -250px);
}

#s1:checked ~ #slide6,
#s2:checked ~ #slide7,
#s3:checked ~ #slide1,
#s4:checked ~ #slide2,
#s5:checked ~ #slide3,
#s6:checked ~ #slide4,
#s7:checked ~ #slide5 {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  transform: translate3d(-40%, 0, -250px);
}

#s1:checked ~ #slide7,
#s2:checked ~ #slide1,
#s3:checked ~ #slide2,
#s4:checked ~ #slide3,
#s5:checked ~ #slide4,
#s6:checked ~ #slide5,
#s7:checked ~ #slide6 {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  transform: translate3d(-20%, 0, -100px);
}

.streamer {
  color: #2c2c2c;
  padding: 10px 20px;
  display: flex;
  gap: 15px;
  font-size: 16px;
  align-items: center;
  width: 100%;
}

.streamer:hover {
  background: #cfcfcf;
}

.streamer--active .streamer__status::before,
.streamer--active .streamer__status::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  background: #f00;
}

.streamer--active .streamer__status::before {
  z-index: 1;
  top: calc(50% - 5px);
  right: calc(100% + 5px);
  width: 10px;
  height: 10px;
  animation: pulseIn 1s 0.5s infinite;
}

.streamer--active .streamer__status::after {
  top: calc(50% - 7.5px);
  right: calc(100% + 2.5px);
  width: 15px;
  height: 15px;
}

.streamer__avatar {
  cursor: pointer;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
  object-fit: cover;
}

.streamer__status {
  max-width: calc(40% - 30px);
  position: relative;
  margin-left: auto;
}

.streamer__subs {
  cursor: pointer;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.streamer__subs:hover {
  color: #005073;
}

.streamer__profile {
  max-width: 60%;
  gap: 10px;
  display: flex;
  align-items: center;
}

.streamer__nick {
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
}

.streamer__nick:hover {
  color: #005073;
}
/*  */

.streamers {
  height: calc(100% - 182px);
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  padding: 20px 0px;
  gap: 20px;
}
/*  */

.video-footer {
  display: flex;
  padding: 10px;
  gap: 20px;
}

.video-footer__avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
}

.video-footer__description {
  overflow: hidden;
  color: #2c2c2c;
  line-height: 1.5;
  text-align: left;
}

.video-footer__title,
.video-footer__author {
  text-decoration: none;
  color: #2c2c2c;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  font-family: 'Roboto Mono', sans-serif;
}

.video-footer__title:hover,
.video-footer__author:hover {
  color: #0da8eb;
}

.video-footer__title {
  font-weight: bold;
  font-size: 16px;
}

.video-footer__author {
  color: #cfcfcf;
  font-size: 12.8px;
}

.video-footer__menu {
  margin-left: auto;
  background: none;
  border: none;
  color: #2c2c2c;
}

.video-footer__menu:hover {
  cursor: pointer;
}

.video-footer__menu:active {
  color: #000;
}

/*  */
.video-preview {
  position: relative;
  height: 80%;
}

.video-preview__shot {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.video-preview__info {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 12.8px;
  background: rgba(44, 44, 44, 0.8);
  color: #fff;
  padding: 5px;
  display: block;
  border-radius: 5px;
}

.video-preview__info:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.video-preview__live {
  text-decoration: none;
  text-transform: uppercase;
  background: #f00;
  font-size: 12.8px;
  color: #fff;
  padding: 5px;
  display: block;
  border-radius: 5px;
  z-index: 1;
  position: absolute;
  top: 10px;
  left: 10px;
}

.video-preview__live:hover {
  cursor: pointer;
}

.video-preview__overlay {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  opacity: 0;
  animation: fadeIn 0.5s forwards;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(44, 44, 44, 0.5);
}

.video-preview__play {
  color: #fff;
  font-size: 40px;
  text-decoration: none;
}

/*  */

.video:hover {
  box-shadow: 0 0 3px rgba(44, 44, 44, 0.2);
}

.video:hover .video-preview__overlay {
  display: flex;
}

/*  */

.videos {
  margin: 20px 0;
  justify-content: center;
  min-height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
}

/*  */
.aside {
  background: #e9e9e9;
}

/*  */

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 350px calc(100vw - 350px);
  grid-template-rows: 70px calc(100vh - 70px);
  grid-template-areas: 'header header' 'aside main';
}

/*  */

.footer {
  text-align: center;
  padding: 20px;
}

.footer__copyright {
  font: 16px 'Roboto Mono', sans-serif;
}

/*  */

.header {
  background: #fff;
  grid-area: header;
  display: flex;
  z-index: 1;
  flex-wrap: wrap;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 20px;
  box-shadow: 0 0 5px rgba(44, 44, 44, 0.5);
  justify-content: space-between;
}

.header__logo {
  height: 50px;
}
.header__name {
  margin: auto;
  color: gold;
  font-size: 40px;
}

/*  */

.main {
  overflow-y: auto;
  min-height: calc(100vh - 70px);
  padding: 20px;
}

/*  */

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*  */

* {
  box-sizing: border-box;
  font-family: 'Roboto Mono', sans-serif;
}

::-moz-selection {
  color: #fff;
  background: gold;
}

::selection {
  color: #fff;
  background: gold;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #e9e9e9;
}

::-webkit-scrollbar-thumb {
  background: #cfcfcf;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #b6b6b6;
}

/*  */
@media screen and (max-width: 1200px) {
  .container {
    grid-template-columns: 90px calc(100vw - 90px);
  }

  .information-block,
  .streamer__status,
  .streamer__nick {
    display: none;
  }

  .streamers {
    height: 100%;
  }
}

@media screen and (max-width: 468px) {
  .main {
    min-height: calc(100vh - 120px);
  }

  .container {
    grid-template-rows: 120px calc(100vh - 120px);
  }

  .header {
    gap: 10px;
    justify-content: center;
  }

  .videos {
    grid-template-columns: 100%;
  }
}

@media screen and (max-width: 410px) {
  .main {
    min-height: calc(100vh - 180px);
  }

  .container {
    grid-template-rows: 180px calc(100vh - 180px);
  }
}
